<!DOCTYPE html>
<html>
<head>
	<title>coba</title>
</head>
<body>
	<div class="row form-group">
        <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Isi Laporan</label></div>
            <div class="col-3 col-md-9">
            	<textarea name="done" id="textarea-input" rows="5" placeholder="" class="form-control">
Yang sudah dikerjakan: 
				</textarea></div>
			<div class="col-3 col-md-9">
            	<textarea name="problem" id="textarea-input" rows="5" placeholder="" class="form-control">
Kendala: 
				</textarea></div>
			<div class="col-3 col-md-9">
            	<textarea name="todo" id="textarea-input" rows="5" placeholder="" class="form-control">
Yang akan dikerjakan: 
				</textarea></div>
    </div>
</body>
</html>